<?xml version="1.0" encoding="UTF-8"?>

<web-app>
	<servlet>
		<servlet-name>hello</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>hello</servlet-name>  <!-- url *.do가 실행되면 -->
		<url-pattern>*.do</url-pattern>  	<!-- hello-servlet.xml이 resolve에 들어감 -->
	</servlet-mapping>
	
	<!-- board sample test --> <!-- <servlet>과 <servlet-mapping>은 한 쌍 -->
	<servlet>
		<servlet-name>board</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>board</servlet-name>  	<!-- url *.board가 실행되면 -->
		<url-pattern>*.board</url-pattern>  	<!-- board-servlet.xml이 resolve에 들어감 -->
	</servlet-mapping>	
	
		<!-- board -->
	<servlet>
		<servlet-name>brd</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>brd</servlet-name>  	
		<url-pattern>*.brd</url-pattern>  	
	</servlet-mapping>
	
	<servlet>
		<servlet-name>test</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>test</servlet-name>  	
		<url-pattern>*.test</url-pattern>  	
	</servlet-mapping>
</web-app>